

.footer_container {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0px;
}

.footer_class {
  display: flex;
  justify-content: flex-start; /* 修正此行 */
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
  gap: 20px;
}

.footer_content {
  display: flex;
  flex-direction: column;
  /* 移除 space-between */
  padding-right: 45px;
  margin: 0px;
  flex-wrap: wrap;
  gap: 5px;
}


.footer_content a {
  font-size: 12px;
  font-weight: bold;
}
.footer_href {
  padding: 0px;
  margin: 0px;
  text-decoration: none; /* 移除底線 */
  color: #4e4545; /* 設定文字顏色 */
}
.footer_href:hover {
  text-decoration: underline; /* 滑鼠懸停時加上底線 */
}
/* New CSS */
.footer_container h2{
  margin-top: 10px; /* Adjust this value as needed */
  margin-bottom: 10px; /* Adjust this value as needed */
}
.footer_container h5 {
  margin-top: 10px; /* Adjust this value as needed */
  margin-bottom: 10px; /* Adjust this value as needed */
}
.copyright {
  width: 100%; /* 讓版權訊息佔據整行 */
  text-align: center;
  padding-top: 30px;
}

@media (max-width: 650px) {
  .footer_class {
    flex-wrap: wrap; /* 允許子元素換行 */
  }

  /* 針對第一個 .footer_content 設定 */
  .footer_class .footer_content:first-child {
    flex: 1 0 100%; /* 使其獨占一行 */
    padding-right: 0; /* 取消右側的 padding */
  }

  /* 針對第二和第三個 .footer_content 設定 */
  .footer_class .footer_content:not(:first-child) {
    flex: 1; /* 讓其佔據可用空間的一半 */
  }
}