body {
    font-family: 'FakePearl-Regular';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    
    color: #4e4545;
}

.outer {
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 1000px;
    margin: 0 auto;
    border: 1px solid red;
    box-sizing: border-box;
}
