body {
    font-family: 'FakePearl-Regular';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    padding-top: 150px;
}
html{
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    
    color: #4e4545;
}

.outer {
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    /*   padding: 2.5rem;*/
   max-width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
}
.outer > div {
    
    padding-top: 50px;
    display: flex;
    flex-direction: column;  
    flex-basis: 50%;  
    max-width: 100%; 
    min-width: 300px; 
    /*border: 1px solid rgb(255, 0, 0);*/
    flex-grow: 1;
    flex-shrink: 1;
}
