footer{
    padding: 20px;
}
/*標題*/
.info_footer{
    padding-top: 15px;
    padding-bottom: 15px;
}
.info_footer h1{
    margin-top: 5px; 
    margin-bottom: 5px;
 }
 .info_footer h6{
    margin-top: 5px; 
    margin-bottom: 5px;
 }
 /*網頁總連結*/
 .content_footer{
    padding-top: 15px;
    padding-bottom: 15px;
}
.content_footer a {
    font-weight: bold;
    color: #4e4545;
    text-decoration: none;
    border-bottom: 2px solid transparent; /* 2px可以根據你的需求調整 */
    transition: border-color 0.3s; /* 平滑的過渡效果 */
    position: relative; /* 為了後續的偽元素定位 */
}

.content_footer a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; /* 和上面的border-bottom保持一致 */
    background-color: currentColor; /* 使用文字的顏色 */
    transition: width 0.3s; /* 平滑的過渡效果 */
}

.content_footer a:hover::before {
    width: 100%; /* 當滑鼠懸停時填滿整個連結的寬度 */
}
/*聯繫*/
 .contact_footer{
    padding-top: 15px;
    padding-bottom: 15px;
}
.contact_footer h5{
    margin-top: 5px; 
    margin-bottom: 5px;
 }
